.count {
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  padding: 2%;
}
.button {
  border: 2px solid black;
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 1%;
  left: 2%;
  position: relative;
 
}
.start {
    padding: 2%;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span.buttom:hover .button {
	transform: translate(0,-350px);
	-webkit-transform: translate(0,-350px);
	-o-transform: translate(0,-350px); 
	-moz-transform: translate(0,-350px);
}