.button {
  padding: 4px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 3px;
  background-color: rgb(122, 144, 143);
  color: white;
  margin: 7px;
  width: 20%;
  height: 20%;
  position: relative;
  justify-content: center;
  transition: all 3s;
  cursor: pointer;
 left: 25%;
}
.button2 {
  padding: 4px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 3px;
  background-color: rgb(122, 144, 143);
  color: white;
  margin: 7px;
  position: relative;
  width: 20%;
  height: 20%;
  justify-content: center;
  cursor: pointer;
  left: 25%;
}
.button.button2:hover {
  border: 1px solid rgb(70, 137, 133);
  color: white;
  background-color: rgb(70, 137, 133);
}
